html {
    background-color: #bfdbf7;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    background-color: #bfdbf7;
}

#nav {
    height: 80px;
    padding: 30px;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

.h-10 {
    height: 10%;
}
.h-40 {
    height: 40%;
}
.w-33 {
    width: 32%;
}

.container {
    height: calc(100vh - 80px);
}

.filter-box {
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px #818181;
    label {
        font-size: 1.3em;
        font-weight: bold
    };
    input {
        width: 25%;
    }
}
.card {
    box-shadow: 0 0 5px 1px #818181;
}
.cards-wrapper {
    background-color: #bfdbf7;
    .card {
        background-color: #ffffff;
        .card-body {
            .text-container {
                    height: 80%;
                    .card-title {
                        font-size: 1.3em;
                        font-weight: bold;
                    }
                    p {
                        font-size: 0.9em;
                        overflow-y: auto;
                    }
                }
            .button-container {
                height: 20%;
            }
        } 
    }
}

.post-view {
        .card-body {
            .text-container {
                    .card-title {
                        font-size: 1.8em;
                        font-weight: bold;
                    }
            
                    p {
                        font-size: 0.9em;
                        overflow-y: auto;
                    }
                }
            
        }
}


